@CHARSET "UTF-8";
.buttonDec{
	background-color:grey;
	border-radius:10px;
	float:left;
	display:inline;
	margin:2px;
	padding:10px 10px;
	color: white;
}

.clearBoth{
	clear:both;
}
h2 {
	text-align:center;
}