@charset "UTF-8";

.buttonDec:hover {
	background-color:orange;
}
.submitDec:hover {
	background-color:orange;
}
.buttonDec{
	background-color:grey;
	border-radius:10px 10px 0 0;
	float:left;
	display:inline;
	margin:2px;
	padding:10px 10px;
	color: white;
}
.submitDec{
	background-color:lightgrey;
	border-radius:25px;
	padding:5px;
	margin:5px;
	color:black;
}
.loginCon{
	float:left;
	clear:both;
	border-radius:5px;
	border:2px solid black;
	margin:5px;
	padding:15px 25px 15px 25px;
}
.container{
	float:left;
	width:80%;
	clear:both;
	border-radius:5px;
	border:2px solid black;
	margin:5px;
	padding:15px 25px 15px 25px;
}
.author{
	padding:15px;
}
.clearBoth{
	clear:both;
}
h2 {
	text-align:center;
}

.Quotes {
	overflow: scroll;
	width: 200px;
	height: 100px;
}